[Desktop Entry]
Categories=GNOME;GTK;AudioVideo;Video;
Comment[en_US]=Easy to use Multimedia Converter for Linux
Comment=Easy to use Multimedia Converter for Linux
Comment[ar]=محول وسائط على لينكس سهل الاستخدام
Encoding=UTF-8
Exec=curlew
GenericName[en_US]=
GenericName=
Icon=curlew
MimeType=
Name[en_US]=Curlew
Name=Curlew
Name[ar]=كروان
Name[en]=Curlew
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
