[Desktop Entry]
Categories=GNOME;GTK;AudioVideo;Video;
Comment[en_US]=Easy to use Multimedia Converter for Linux
Comment=Easy to use Multimedia Converter for Linux
Comment[ar]=محول وسائط على لينكس سهل الاستخدام
Encoding=UTF-8
Exec=curlew
Icon=curlew
Name[en_US]=Curlew
Name=Curlew
Name[ar]=كروان
Name[en]=Curlew
