[Desktop Entry]
Categories=AudioVideo;Video;
Comment[en_US]=Easy to use Multimedia Converter for Linux
Comment=Easy to use Multimedia Converter for Linux
Comment[ar]=محول وسائط على لينكس سهل الاستخدام
Comment[fr]=Un Convertisseur Multimédia simple à utiliser sous Linux
Encoding=UTF-8
Exec=curlew %U
GenericName[en_US]=Curlew
GenericName=Curlew
Icon=curlew
MimeType=
Name[en_US]=Curlew
Name=Curlew
Name[ar]=كروان
StartupNotify=true
Terminal=false
Type=Application
