include LICENSE-ar.txt LICENSE-en AUTHORS ChangeLog README formats.cfg
include curlew.desktop curlew.svg curlew.pot
include curlew.desktop install uninstall
recursive-include Curlew/icons *.png
recursive-include locale *
recursive-exclude *.pyc