include LICENSE-ar.txt LICENSE-en ChangeLog 
include README TODO AUTHORS VERSION
include curlew.desktop.in curlew.svg curlew.pot curlew.spec
include Makefile
recursive-include po *
recursive-include Curlew/icons *